<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         cacheResult="false">

    <coverage includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <testsuite name="quick-router">
        <directory suffix="Tests.php">tests/</directory>
    </testsuite>

</phpunit>